<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join.us.GoodJob.model.mapper.CompanyMapper">
	<insert id="registerCompanyMember" parameterType="companyMemberVO">
		insert into
		company_member(company_id,introduction,company_type,industry,sales,date_of_establishment,num_of_employees,picture_path)
		values(#{id}, #{introduction}, #{companyType}, #{industry}, #{sales}, #{dateOfEstablishment}, #{numOfEmployees}, #{picturePath})
	</insert>
	<insert id="registerMember" parameterType="companyMemberVO">
		insert into
		member(id,password,email,name,tel,member_type,address)
		values(#{id}, #{password}, #{email}, #{name}, #{tel}, 3, #{address})
	</insert>
	<select id="selectCompanyMember" parameterType="string" resultType="companyMemberVO">
		select m.id, m.email, m.name, m.address, m.tel, cm.introduction, cm.company_type, cm.industry,
		 cm.sales, cm.date_of_establishment, cm.num_of_employees, cm.picture_path
		from company_member cm, member m
		where m.id=cm.company_id and m.id=#{value}
	</select>
	<update id="updateCompanyMember" parameterType="companyMemberVO">
		update company_member set introduction=#{introduction}, company_type=#{companyType}, industry=#{industry}, 
		sales=#{sales}, date_of_establishment=#{dateOfEstablishment}, num_of_employees=#{numOfEmployees}, picture_path=#{picturePath}
		where company_id=#{id}
	</update>
	<update id="updateMember" parameterType="companyMemberVO">
		update member set password=#{password}, email=#{email}, address=#{address}, tel=#{tel} where id=#{id}
	</update>
	<select id="myPageCompanyMember" resultType="companyMemberVO" parameterType="memberVO">
		select
		cm.company_id,m.password,m.name,m.address,m.tel,m.email,cm.introduction,
		cm.company_type,cm.industry,cm.sales,cm.date_of_establishment,cm.num_of_employees,cm.picture_path
		from member m , company_member cm
		where m.id=cm.company_id
		and m.id=#{id}
	</select>
	<!-- 181018 MIRI 일반회원, 기업회원 회원탈퇴 공통으로 묶음 -->
	<!-- <delete id="deleteCompanyMember" parameterType="string">
		delete from member where id=#{id}
	</delete> -->

	<select id="getAllCompanyList" resultType="companyMemberVO" parameterType="pagingBean">	
		select company_id, name, introduction, picture_path
		from(select row_number() over(order by cm.company_id) as rnum, 
		cm.company_id, m.name, cm.introduction, cm.picture_path
		from member m , company_member cm
		where m.id=cm.company_id
		) where rnum between #{startRowNumber} and #{endRowNumber}	
	</select>
	
	<select id="getAllCompanyListCount" resultType="int">
		select count(*)
		from member m , company_member cm
		where m.id=cm.company_id
	</select>
	
	
	<select id="detailCompanyInfo" resultType="companyMemberVO" parameterType="memberVO">
		select
		cm.company_id,m.password,m.name,m.address,m.tel,m.email,cm.introduction,
		cm.company_type,cm.industry,cm.sales,cm.date_of_establishment,cm.num_of_employees,cm.picture_path
		from member m , company_member cm
		where m.id=cm.company_id
		and m.id=#{id}
	</select>
	
	<!-- 구인공고등록 -->
	<insert id="registerJobPosting" parameterType="jobPostingVO" >
		<selectKey keyProperty="jobPostingNum" resultType="int" order="BEFORE" >
			select job_posting_num_seq.nextval from dual
		</selectKey>		
		
		insert into JOB_POSTING(job_posting_num, company_id, career_status, title, content) 
		values(#{jobPostingNum}, #{companyId}, #{careerStatus}, #{title}, #{content})
	</insert>
	
	<insert id="registerJobPostingAcademic" parameterType="map">
		insert into job_academic(job_posting_num, academic_num)
		values(#{jobPostingNum}, #{academicNum})
	</insert>
	
	<insert id="registerJobPostingDev" parameterType="map">
		insert into job_dev(job_posting_num, dev_cat_num)
		values(#{jobPostingNum}, #{devCatNum})
	</insert>

	<insert id="registerJobPostingEmp" parameterType="map">
		insert into job_emp(job_posting_num, emp_type_num)
		values(#{jobPostingNum}, #{empTypeNum})
	</insert>
	
	<insert id="registerJobPostingLoc" parameterType="map">
		insert into job_loc(job_posting_num, loc_num)
		values(#{jobPostingNum}, #{locNum})
	</insert>
	
	<insert id="registerJobPostingRecuitment" parameterType="map">
		insert into job_recruitment(job_posting_num, rc_num)
		values(#{jobPostingNum}, #{rcNum})
	</insert>
	
	<resultMap type="companyMemberVO" id="companyMemberVORM">
		<result column="job_posting_num" property="jobPostingVO.jobPostingNum"/>
		<result column="career_status" property="jobPostingVO.careerStatus"/>
		<result column="title" property="jobPostingVO.title"/>
		<result column="content" property="jobPostingVO.content"/>
	</resultMap>
	<select id="jobPostingDetail" parameterType="string" resultMap="companyMemberVORM">
	select 
	cm.company_id, cm.introduction, cm.company_type, cm.industry, cm.sales, cm.date_of_establishment, cm.num_of_employees,
	j.job_posting_num, j.career_status, j.title, j.content, m.address, m.tel, m.email , m.name
	from job_posting j , company_member cm, member m
	where j.company_id = cm.company_id and cm.company_id=m.id
	and j.job_posting_num=#{jobPostingNum}
	</select>
	
	
	<select id="companyJobPostingList" resultType="jobPostingVO" parameterType="companyMemberVO">
		select 
		cm.company_id, cm.introduction, cm.company_type, cm.industry, cm.sales, cm.date_of_establishment, cm.num_of_employees,
		j.company_id, j.job_posting_num, j.career_status, j.title, j.content 
		from company_member cm , job_posting j
		where j.company_id = cm.company_id
		and j.company_id=#{companyId}
	</select>
	
	<resultMap type="companyMemberVO" id="companyMemberVORM2">
		<result column="job_posting_num" property="jobPostingVO.jobPostingNum"/>
		<result column="career_status" property="jobPostingVO.careerStatus"/>
		<result column="title" property="jobPostingVO.title"/>
		<result column="content" property="jobPostingVO.content"/>
		<result column="picture_path" property="picturePath"/>
	</resultMap>
	<select id="getAllJobPostingList" resultMap="companyMemberVORM2">
	select company_id, introduction, company_type, industry, sales, date_of_establishment, num_of_employees,
	job_posting_num, career_status, title, content, address, tel, email , name , picture_path
	from
	(select row_number() over(order by j.job_posting_num) as rnum,
	cm.company_id, cm.introduction, cm.company_type, cm.industry, cm.sales, cm.date_of_establishment, cm.num_of_employees,cm.picture_path,
	j.job_posting_num, j.career_status, j.title, j.content, m.address, m.tel, m.email , m.name
	from job_posting j , company_member cm, member m
	where j.company_id = cm.company_id and cm.company_id=m.id) 
	where rnum between #{startRowNumber} and #{endRowNumber}
	</select>
	
	<select id="getAlljobPostingCount" resultType="int">
		select count(*)
		from job_posting j , company_member cm, member m
		where j.company_id = cm.company_id and cm.company_id=m.id
	</select>
	
	<select id="getAllJobPostingListByJobPostingNum" resultMap="companyMemberVORM2" parameterType="map">
	
	select 
	company_id, introduction, company_type, industry, sales, date_of_establishment, num_of_employees,
	job_posting_num, career_status, title, content, address, tel, email , name
	from
	 (select row_number() over(order by j.job_posting_num) as rnum, cm.company_id, cm.introduction, cm.company_type, cm.industry, cm.sales, cm.date_of_establishment, cm.num_of_employees,
	j.job_posting_num, j.career_status, j.title, j.content, m.address, m.tel, m.email , m.name
	from job_posting j , company_member cm, member m
	where j.company_id = cm.company_id and cm.company_id=m.id 
	
	<!-- jobPostingNumList null 일 경우 처리 10-23 철우  -->
	and	j.job_posting_num in 
	<foreach collection="jobPostingNumList" item="jobPostingNumList" open="(" separator="," close=")">
		#{jobPostingNumList}
	</foreach>
	) <!-- 서브쿼리 from 종료	cherwoo -->
	where rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}
	</select>
	
	<select id="getAllJobPostingListByJobPostingNumCount" resultType="int">
	select count(*)
	from job_posting j , company_member cm, member m
	where j.company_id = cm.company_id and cm.company_id=m.id 
	<!-- 기업상세검색, paging 처리 10-23 cherwoo 수정 절대 금지 -->
	<foreach collection="list" item="jobPostingNum">
	<if test="jobPostingNum != null" >
	and	j.job_posting_num in
		<foreach collection="list" item="jobPostingNum" open="(" separator="," close=")">
		#{jobPostingNum}
		</foreach>
	</if>
	</foreach>
	</select>
	
	<select id="findJobPostingByCatNumList" parameterType="map" resultType="string">
	select distinct job_posting_num
		from( 
		   select jd.job_posting_num, jd.dev_cat_num, jr.rc_num,je.emp_type_num, jl.loc_num, ja.academic_num
		   from job_dev jd, job_recruitment jr , job_emp je, job_loc jl, job_academic ja
		   where jd.job_posting_num=jr.job_posting_num 
		   and jr.job_posting_num=je.job_posting_num
		   and je.job_posting_num=jl.job_posting_num	
		   and jl.job_posting_num=ja.job_posting_num
		 )
	<where>
		<if test="locCatNumList != null ">
		loc_num in
		<foreach collection="locCatNumList" item="locCatNum" separator="," open="(" close=")">
			#{locCatNum}
		</foreach>
		</if>
		
		<if test="devCatNumList != null ">
		and dev_cat_num in
		<foreach collection="devCatNumList" item="devCatNum" separator="," open="(" close=")">
			#{devCatNum}
		</foreach>
		</if>
		
		<if test="recruitCatNumList != null">
		and rc_num in
		 <foreach collection="recruitCatNumList" item="recruitCatNum" separator="," open="(" close=")">
			#{recruitCatNum}
		</foreach>
		</if>
		
		<if test="empTypeCatNumList != null">
		and emp_type_num in
		<foreach collection="empTypeCatNumList" item="empTypeCatNum" separator="," open="(" close=")">
			#{empTypeCatNum}
		</foreach>
		</if>
		
		<if test="acaCatNumList != null">
		and academic_num in
		<foreach collection="acaCatNumList" item="acaCatNum" separator="," open="(" close=")">
			#{acaCatNum}
		</foreach>
		</if>
	</where>
	
	</select>
	
	<select id="getJobPostingQAList" parameterType="string" resultType="questionAnswerVO">
		select qa.qa_num, qa.question, qa.answer
		from question_answer qa, job_posting jp
		where qa.job_posting_num=jp.job_posting_num and jp.job_posting_num=#{value}
	</select>
	
	<select id="getJobPostingQAByQANum" parameterType="string" resultType="questionAnswerVO">
		select qa_num, question, answer from question_answer where qa_num=#{value}
	</select>
	
	<update id="updateQAToAnswer" parameterType="questionAnswerVO">
		update question_answer set answer=#{answer} where qa_num=#{qaNum}
	</update>
	
	<update id="deleteQAToAnswer" parameterType="questionAnswerVO">
		update question_answer set answer=null where qa_num=${value}
	</update>
	
	<resultMap type="interviewVO" id="interviewVORM">
		<result column="name" property="normalMemberVO.name"/>
		<result column="normal_id" property="normalMemberVO.normalId"/> 
	</resultMap>
	
	<select id="getAllInterviewerList" resultMap="interviewVORM">
		select row_number() over(order by i.interview_num) as rnum ,
		i.interview_num ,i.job_posting_num,i.title ,i.content, nm.normal_id , cm.company_id , m.name
		from interview i , normal_member nm , company_member cm ,member m
		where i.normal_id = nm.normal_id and i.company_id = cm.company_id and i.normal_id = m.id
		and cm.company_id=#{value} 
		order by rnum desc
	</select>
		
		
	 <!-- 181023 MIRI 반복되는 sql 묶기 -->
	<!-- <sql id="getInterviewerInfo">
		select i.interview_num,i.job_posting_num,i.title,i.content,nm.normal_id,m.name
		from interview i, normal_member nm , member m
		where i.normal_id = nm.normal_id and nm.normal_id = m.id
	</sql> -->
	<select id="interviewInfo" resultType="interviewVO" parameterType="interviewVO">
		select i.interview_num,i.job_posting_num,i.title,i.content,nm.normal_id,cm.company_id
		from interview i , normal_member nm , company_member cm
		where i.normal_id = nm.normal_id and i.company_id = cm.company_id
		and cm.company_id=#{companyId} and i.job_posting_num=#{jobPostingNum}
		and i.normal_id=#{normalId}
	</select>
	
	<!-- <select id="getAllInterviewerList" resultMap="interviewVORM">
		<include refid="getInterviewerInfo"/>
	</select> -->
	<select id="getJobPostingInterviewerList" parameterType="string" resultMap="interviewVORM">
		select i.interview_num,i.job_posting_num,i.title,i.content,nm.normal_id,m.name
		from interview i, normal_member nm , member m
		where i.normal_id = nm.normal_id and nm.normal_id = m.id
		and i.job_posting_num=#{value}
	</select>
	
	<update id="updateJobPosting" parameterType="jobPostingVO">
		update job_posting set title=#{title} , content=#{content}, career_status=#{careerStatus} where job_posting_num=#{jobPostingNum}
	</update>
	<delete id="deleteJobPostingMulti" parameterType="int">
		{
		call
		declare
		begin
		delete from job_dev where job_posting_num=#{value};
		delete from job_recruitment where job_posting_num=#{value};
		delete from job_emp where job_posting_num=#{value};
		delete from job_loc where job_posting_num=#{value};
		delete from job_academic where job_posting_num=#{value};
		end
		}
	</delete>
	<delete id="deleteJobPostingByNum" parameterType="int">
		delete from job_posting where job_posting_num=#{value}
	</delete>
	
	<!-- 제목으로 구인공고검색 resultMap -->
	<resultMap type="companyMemberVO" id="companyMemberVORM3">
		<result column="job_posting_num" property="jobPostingVO.jobPostingNum"/>
		<result column="career_status" property="jobPostingVO.careerStatus"/>
		<result column="title" property="jobPostingVO.title"/>
		<result column="content" property="jobPostingVO.content"/>
	</resultMap>
	<!-- 제목으로 구인공고 검색 -->
	<select id="findJobPostingBytitle" parameterType="map" resultMap="companyMemberVORM3" >
		select
		job_posting_num,title,company_id,career_status,content
		from(
		select row_number() over(order by job_posting_num) as rnum, job_posting_num ,title,company_id,career_status,content
		from job_posting 
		where title like '%'|| #{title} ||'%'
		)
		where rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}	
	</select>
	
	<!-- 제목으로 구인공고검색 페이징빈 -->
	<select id="findJobPostingBytitleCount" resultType="int">
		select count(*)
		from job_posting where title like '%'|| #{title} ||'%'
	</select>
	<!-- 키워드로 구인공고 검색 resultMap -->
	<resultMap type="companyMemberVO" id="companyMemberVORM4">
		<result column="job_posting_num" property="jobPostingVO.jobPostingNum"/>
		<result column="career_status" property="jobPostingVO.careerStatus"/>
		<result column="title" property="jobPostingVO.title"/>
		<result column="content" property="jobPostingVO.content"/>
		<result column="keyword_name" property="jobPostingVO.keywordName"/>
	</resultMap>
	<!-- 키워드로 구인공고 검색 -->
	<select id="findJobPostingByKeyword" parameterType="map" resultMap="companyMemberVORM4" >
		select 
		job_posting_num, title, company_id, career_status, content, keyword_name 
		from(
		select row_number() over(order by j.job_posting_num) as rnum, k.job_posting_num, j.title, j.company_id, j.career_status, j.content, k.keyword_name 
		from job_posting j, job_posting_keyword k
		where j.job_posting_num = k.job_posting_num 
		and k.keyword_name like '%'|| #{keyword} ||'%'
		)
		where rnum between #{pagingBean.startRowNumber} and #{pagingBean.endRowNumber}	
	</select>
	<!-- 키워드로 구인공고 검색 페이징빈 -->
	<select id="findJobPostingByKeywordCount" resultType="int">
		select count(*)
		from job_posting_keyword where keyword_name like '%'|| #{keyword} ||'%'
	</select>

	<select id="jobPostingInterviewerTotalCount" parameterType="string" resultType="int">
		select count(*) from interview where job_posting_num=#{value}
	</select>

	<select id="findCompanyIdByNum" resultType="interviewVO">
		select company_id,job_posting_num from job_posting where job_posting_num=#{value}
	</select>
</mapper> 		
 


