<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="join.us.GoodJob.model.mapper.MemberMapper"> 
	<insert id="insertMember" parameterType="memberVO">
		insert into member(id,password,email,name,tel,member_type,address) 
		values(#{id}, #{password}, #{email}, #{name}, #{tel}, #{type}, #{address})
	</insert>
	<insert id="insertNormalMember" parameterType="normalMemberVO"> 
		insert into normal_member(normal_id,picturePath,careerStatus,gender,portfolio) 
		values(#{normalId), #{picturePath}, #{careerStatus}, #{gender}, #{portfolio})
	</insert>
	
 </mapper> 		
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















