<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="join.us.GoodJob.model.mapper.MemberMapper"> 

	<select id="loginMember" parameterType="memberVO" resultType="memberVO">
		select id, name, member_type from member where id=#{id} and password=#{password}
	</select>	
	<select id="checkMemberId" parameterType="string" resultType="int">
		select count(*) from member where id=#{value}
	</select>
	<select id="getRecruitCatVOList" resultType="recruitCatVO">
		select rc_num, rc_name from recruitment_category
	</select>	
	 <select id="getDevCatVOListByrcNum" resultType="devCatVO">
		select dev_cat_num, dev_cat_name from development_category where rc_num=#{value}
	</select>
	<select id="getEmpTypeCatVOList" resultType="empTypeCatVO">
		select emp_type_num, emp_type_name from employment_type_category 
	</select>
	<select id="getLocCatVOList" resultType="locCatVO">
		select loc_num, loc_name from location_category
	</select>
	<select id="getAcaCatVOList" resultType="acaCatVO">
		select academic_num, academic_name from academic_category
	</select>
	<!-- 181018 MIRI 일반회원, 기업회원 회원탈퇴 공통으로 묶음 -->
	<delete id="deleteMember" parameterType="string">
		delete from member where id=#{id}
	</delete>
	<!-- 번호로 조회 -->
	<select id="getDevCatVOListByNum" resultType="devCatVO">
		select dc.dev_cat_name
		from development_category dc, job_dev jd
		where dc.dev_cat_num=jd.dev_cat_num 
		and jd.job_posting_num=#{jobPostingNum}
	</select>
	<select id="getLocCatVOListByNum" resultType="locCatVO">
		select lc.loc_name
		from location_category lc , job_loc jl
		where lc.loc_num=jl.loc_num
		and jl.job_posting_num=#{jobPostingNum}
	</select>
	<select id="getRecruitCatVOListByNum" resultType="recruitCatVO">
		select rc.rc_name
		from recruitment_category rc , job_recruitment jr 
		where rc.rc_num=jr.rc_num 
		and jr.job_posting_num=#{jobPostingNum}
	</select>
	<select id="getAcaCatVOListByNum" resultType="acaCatVO">
		select ac.academic_name
		from academic_category ac , job_academic ja
		where ac.academic_num=ja.academic_num
		and ja.job_posting_num=#{jobPostingNum}
	</select>
	<select id="getEmpCatVOListByNum" resultType="empTypeCatVO">
		select etc.emp_type_name
		from employment_type_category etc , job_emp je
		where etc.emp_type_num=je.emp_type_num
		and je.job_posting_num=#{jobPostingNum}
	</select>
	
	<!-- 아이디로 조회 -->
	<select id="getDevCatVOListByNormalId" resultType="devCatVO">
		select dc.dev_cat_name, pd.dev_cat_num
		from development_category dc, portfolio_dev pd
		where dc.dev_cat_num=pd.dev_cat_num 
		and pd.normal_id=#{normalId}
	</select>
	<select id="getRecruitCatVOListByNormalId" resultType="recruitCatVO">
		select rc.rc_name, pr.rc_num
		from recruitment_category rc , portfolio_recruitment pr
		where rc.rc_num=pr.rc_num 
		and pr.normal_id=#{normalId}
	</select>
	<select id="getEmpCatVOListByNormalId" resultType="empTypeCatVO">
		select etc.emp_type_name, pe.emp_type_num
		from employment_type_category etc , portfolio_emp pe
		where etc.emp_type_num=pe.emp_type_num
		and pe.normal_id=#{normalId}
	</select>
	<select id="getLocCatVOListByNormalId" resultType="locCatVO">
		select lc.loc_name, pl.loc_num
		from location_category lc , portfolio_loc pl
		where lc.loc_num=pl.loc_num
		and pl.normal_id=#{normalId}
	</select>
	<select id="getAcaCatVOListByNormalId" resultType="acaCatVO">
		select ac.academic_name, pa.academic_num
		from academic_category ac , portfolio_academic pa
		where ac.academic_num=pa.academic_num
		and pa.normal_id=#{normalId}
	</select>
</mapper>
 
