<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="join.us.GoodJob.model.mapper.MemberMapper"> 

	<select id="loginMember" parameterType="memberVO" resultType="memberVO">
		select id, name, member_type from member where id=#{id} and password=#{password}
	</select>
	
 </mapper>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
















