<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="join.us.GoodJob.model.mapper.NormalMapper"> 
	<insert id="insertMember" parameterType="memberVO">
		insert into member(id,password,email,name,tel,member_type,address) 
		values(#{id}, #{password}, #{email}, #{name}, #{tel}, 1, #{address})
	</insert>
	
	<insert id="insertNormalMember" parameterType="normalMemberVO"> 
		insert into normal_member(normal_id,picture_path,career_status,gender) 
		values(#{id}, #{picturePath}, #{careerStatus}, #{gender})
	</insert>
		
	<select id="selectNormalMember" parameterType="string" resultType="normalMemberVO">
		select m.id, m.password, m.email, m.name, m.address, m.tel, nm.gender, nm.picture_path, nm.career_status 
		from normal_member nm, member m
		where nm.normal_id=m.id and m.id=#{value}
	</select>
	
	<update id="updateMember" parameterType="memberVO">
		update member set password=#{password}, email=#{email}, address=#{address}, tel=#{tel} where id=#{id} and password=#{password}
	</update>	
	
	<update id="updateNormalMember" parameterType="normalMemberVO">
		update normal_member set picture_path=#{picturePath}, career_status=#{careerStatus}
	</update>
	
	<delete id="deleteNormalMember" parameterType="string">
		delete from member where id=#{id}
	</delete>
	
	<select id="getNormalMypageInfo" resultType="normalMemberVO" parameterType="memberVO">
		select m.id,m.password,m.email,m.name,m.tel,m.address,m.member_type,nm.normal_id,nm.gender,nm.picture_path,nm.career_status
		from member m,normal_member nm
		where m.id=nm.normal_id
		and m.id=#{id}
	</select>
 </mapper> 		
 